<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.base.company.mapper.SysCompanyMapper">
	<select id="findAll" 
		resultType="com.luckyun.model.company.SysCompany" parameterType="com.luckyun.base.company.param.SysCompanyParam">
		select * from sys_company where idel = 0 
		<if test="condition.sname !=null and '' != condition.sname">
			<bind name="csname" value="'%' + condition.sname + '%'"/>
			and (sname like #{csname})
		</if>
		order by isort DESC
	</select>
	<select id="findOne" 
	resultType="com.luckyun.model.company.SysCompany" parameterType="Long">
		select * from sys_company where idel = 0 and indocno = #{indocno}
	</select>
	
	<select id="findAllByIsort"
	resultType="com.luckyun.model.company.SysCompany">
		select * from sys_company where idel = 0 order by isort DESC
	</select>
	
	<select id="findByIsort" resultType="com.luckyun.model.company.SysCompany" parameterType="String">
		select a.* from sys_company a left join sys_dept b on a.indocno=b.icompanyid 
		left join sys_user c on b.indocno=c.ideptid 
		left join sys_account d on c.iuserid=d.indocno
		where d.sloginid=#{username}
	</select>
	
	<select id="findCompanyByUserName" resultType="com.luckyun.model.company.SysCompany" parameterType="String">
		select DISTINCT company.* from sys_company company 
			inner join sys_dept dept on company.indocno = dept.icompanyid
			inner join sys_user suser on dept.indocno = suser.ideptid 
			inner JOIN sys_account account on suser.iuserid = account.indocno
			where account.sloginid = #{sloginid} and dept.idel = 0 and account.idel = 0 and company.idel = 0
	</select>
</mapper>