<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.region.mapper.SysUserModuleDeptMapper">
	<select id="findAll" 
		resultType="com.luckyun.region.model.SysUserModuleDept" parameterType="Long">
		select * from sys_user_module_dept where iuserid = #{iuserid} and imodid = #{imodid}
	</select>
	
	<insert id="batchInsertSysUserModuleDept">
		insert into sys_user_module_dept (indocno,iuserid,imodid,ideptid,sdept_name,dregt,sregid,sregnm)
		values
		<foreach collection="moduleDeptList" item="item" separator=",">
			(#{item.indocno},#{item.iuserid},#{item.imodid},#{item.ideptid},#{item.sdeptName},#{item.dregt},#{item.sregid},#{item.sregnm})
		</foreach>
	</insert>
	
	<insert id="batchInsertSysUserModuleDeptOracle">
	INSERT INTO sys_user_module_dept (indocno,iuserid,imodid,ideptid,sdept_name,dregt,sregid,sregnm)
		<foreach collection="moduleDeptList" item="item" separator="union all">
			select #{item.indocno},#{item.iuserid},#{item.imodid},#{item.ideptid},#{item.sdeptName},#{item.dregt},#{item.sregid},#{item.sregnm}
			FROM DUAL
		</foreach>
	</insert>
	
	<delete id="batchDeleteSysUserModuleDept">
		delete from sys_user_module_dept 
		<where>
			and indocno in
			<foreach collection="indocnoList" item="item" separator="," open="(" close=")">
				#{item}
			</foreach>
		</where>
	</delete>
</mapper>