<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.region.mapper.SysUserDeptMapper">
	<select id="findAll" 
		resultType="com.luckyun.region.model.SysUserDept" parameterType="Long">
		select * from sys_user_dept where iuserid = #{iuserid}
	</select>
	
	<insert id="batchInsertSysUserDept">
		insert into sys_user_dept (indocno,iuserid,ideptid,sdept_name,dregt,sregid,sregnm)
		values
		<foreach collection="deptList" item="item" separator=",">
			(#{item.indocno},#{item.iuserid},#{item.ideptid},#{item.sdeptName},#{item.dregt},#{item.sregid},#{item.sregnm})
		</foreach>
	</insert>
	
	<insert id="batchInsertSysUserDeptOracle">
		insert into sys_user_dept (indocno,iuserid,ideptid,sdept_name,dregt,sregid,sregnm)
		<foreach collection="deptList" item="item" separator="union all">
			select #{item.indocno},#{item.iuserid},#{item.ideptid},#{item.sdeptName},#{item.dregt},#{item.sregid},#{item.sregnm}
			from DUAL
		</foreach>
	</insert>
	
	<delete id="batchDeleteSysUserDept">
		delete from sys_user_dept 
		<where>
			and indocno in
			<foreach collection="indocnoList" item="item" separator="," open="(" close=")">
				#{item}
			</foreach>
		</where>
	</delete>
</mapper>