<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.base.preset.mapper.SysUserPresetMapper">
	<select id="findAll" 
		resultType="com.luckyun.model.preset.SysUserPreset" parameterType="com.luckyun.base.preset.param.SysUserPresetParam">
		select * from sys_user_preset
		<where>
			<if test="condition.spath !=null and '' != condition.spath">
				and spath = #{condition.spath}	
			</if>
			<if test="condition.iuserid != null">
				and iuserid = #{condition.iuserid}
			</if>
			<if test="condition.stype != null and '' != condition.stype">
				and stype = #{condition.stype}
			</if>
		</where>
	</select>
</mapper>